## Solutions of Week 0 Day 1 Practice Questions 
##### We thank our coaches for coming up with this. 
##### **Contributors:** Sanyam Dhawan, Utkarsh, Aishwarya Yadav, Avi Tomar, Julian Marinda, Manish KC, Gunnika Batra

1. Write a program to store the names of your following members of family : <br><br>john, chan, yuen, matt.
   Put them in a list names list1.

In [0]:
# creating the list
list1 = ['john', 'chan', 'yuen', 'matt']

2. Print the list

In [2]:
# using print() function to print the list
print(list1)

['john', 'chan', 'yuen', 'matt']

3. Grab the second element of the list and print it.

In [3]:
# since the indexing starts from 0, the second element is at index 1
second_element = list1[1]

# printing the second element
print(second_element)

chan

4. Change the second element to the name of your friend and print the list again

In [4]:
# changing the name at index 1 (i.e. second element)
list1[1] = 'your_friends_name'

print(list1)

['john', 'your_friends_name', 'yuen', 'matt']

5. Now try to create a list of list named list2 with each element as [name, age] of the family members

In [5]:
# creating a list of list with names and age (randomly assigned) of the family members
list2 = [['john', 20], ['chan', 25], ['yuen', 30], ['matt', 35]]

print(list2)

[['john', 20], ['chan', 25], ['yuen', 30], ['matt', 35]]

6. Add item 7000 after 6000 in the following Python list <br> <br>
   list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [6]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

# 2nd index (i.e. third element in list1) is [300, 400, [5000, 6000], 500]
# 2nd index within this inner list is [5000, 6000] where we desire to add 7000
# we use append function of python lists to add 7000 after 6000 in list1
# Append : Adds its argument as a single element to the end of a list. The length of the list increases by one.

list1[2][2].append(7000)
print('Updated list1 :\n', list1)

Updated list1 :
 [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

7. Given a python list, find value 20 in it and if present, replace it with 200. Only update the first occurrence of the value. <br>
list1 = [5, 10, 15, 20, 25, 50, 20]

In [7]:
### METHOD 1 (The Hard Way)

list1 = [5, 10, 15, 20, 25, 50, 20]

# We can use a for loop over the elements in the list1 to find the index of 20, and break when we get the index

idx = -1  # define the start index value as -1
for i in range(len(list1)):
    if list1[i] == 20:
        # if the current number is 20, we set the index and break
        idx = i
        break
        
# we check if initial value of idx was not changed after the for loop, in this case 20 was not present in the list1
if idx == -1:
    print('20 was not present in the list1.')
else:
    print('20 is present in list1 at index', idx)

    # now set the value at this index to 200
    list1[idx] = 200
        
print('Updated list1: \n', list1)

20 is present in list1 at index 3
Updated list1:
 [5, 10, 15, 200, 25, 50, 20]

In [8]:
# METHOD 2 ( USING THE INDEX( ) FUNCTION)

# A better way to do this is to use index() function of python
# index() is an inbuilt function in Python
# It searches for given element from start of the list and returns the lowest index (i.e. first occurrence) 
# where the element appears.

# Caution : index() would give you error if the element is not present in the list

list1 = [5, 10, 15, 20, 25, 50, 20]
index = list1.index(20)

print('20 is present in list1 at index', idx)

# now set the value at this index to 200
list1[index] = 200

print('Updated list1: \n', list1)

20 is present in list1 at index 3
Updated list1:
 [5, 10, 15, 200, 25, 50, 20]

8. Create a tuple of 5 colors

In [9]:
# creating a tuple
colors_tuple = ('red', 'green', 'blue', 'yellow', 'orange')

print(colors_tuple)

('red', 'green', 'blue', 'yellow', 'orange')

9. Unpack the following tuple into 4 values

In [10]:
aTuple = (10, 20, 30, 40)

# unpacking the tuple
# we need to assign as many no. of variables as the number of elements in the tuple
first_val, second_val, third_val, fourth_val = aTuple
print(first_val, second_val, third_val, fourth_val)

10 20 30 40