1. Print First 10 natural numbers using while loop.

In [1]:
x = list(range(11))
i = 0

while i < len(x) and x[i] in range(0, 11):
  print (x[i])
  i = i + 1

0
1
2
3
4
5
6
7
8
9
10

2. Iterate over the following list and print the elements:

  list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

In [2]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

for item in list1:
  print (item)

12
15
32
42
55
75
122
132
150
180
200

3. Accept a number n from user and print its multiplication table.

In [3]:
n = int(input("Number = "))

Number = 13

In [4]:
list3 = list(range(1, n + 1))

for item in list3:
  print (n, "times", item, "=", n*item)

13 times 1 = 13
13 times 2 = 26
13 times 3 = 39
13 times 4 = 52
13 times 5 = 65
13 times 6 = 78
13 times 7 = 91
13 times 8 = 104
13 times 9 = 117
13 times 10 = 130
13 times 11 = 143
13 times 12 = 156
13 times 13 = 169

4. Use the enumerate function to print the elements of this list along
with the indices:
  grocery = ['bread', 'milk', 'butter']

In [5]:
grocery = ['bread', 'milk', 'butter']

for i, item in enumerate(grocery):
  print ("item at index ", i, ":", item)

item at index  0 : bread
item at index  1 : milk
item at index  2 : butter

5. Write a program to input number from user and find sum of all numbers
between 1 to n.

In [6]:
n = int(input("A number= "))

A number= 13

In [7]:
total  = 0

for i in range(1, n):
  total = total + i

print (total)

78

6. Create a sequence of numbers from 3 to 5, and print each item in the
sequence.

In [8]:
u = list(range(3, 6))

for item in u:
  print (item)

3
4
5

7. Create a sequence of numbers from 3 to 5, and print each item in the
sequence.

In [9]:
v = list(range(3, 20))

newlist  = []
i = 0

while i in range(len(v)):
  newlist.append(v[i])
  i = i + 2
  

print (newlist)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

8. Print the letters of the string “Python” in the same line:

  a. Using a simple for loop
  b. Using the range function

In [10]:
string  = "Python"

# a
for item in string:
  print (item, end= '')

Python

In [11]:
# b
newlist  = []
i = 0

while i in range(len(string)):
  newlist.append(string[i])
  i = i + 1
  
print (newlist)

['P', 'y', 't', 'h', 'o', 'n']