1. Write a program to store the names of your following members of
family: john, chan, yuen, matt.

In [0]:
list1 = [ 'john', 'chan', 'yuen', 'matt']

2. Print the list.

In [2]:
print (list1)

['john', 'chan', 'yuen', 'matt']

3. Grab the 2nd element of the list and print it. ( Remember that the
indexing starts from 0).

In [3]:
print (list1[1])

chan

4. Change the 2nd element to the name of your friend and print the list
again.

In [4]:
list1[1] = 'stacey'
print (list1)

['john', 'stacey', 'yuen', 'matt']

5. Now, try to create a list of list named list2 with each element as
[name, age] of the family members.

In [5]:
age = [34, 24, 33, 22]
list2 = zip(list1, age)

print(list(list2))

[('john', 34), ('stacey', 24), ('yuen', 33), ('matt', 22)]

6. Add item 7000 after 6000 in the following Python List.

  list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40].

  Final output should look like this:
  list1 = [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [6]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)

list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

8. Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value.

  list1 = [5, 10, 15, 20, 25, 50, 20]

  Expected output:
  list1 = [5, 10, 15, 200, 25, 50, 20]

In [7]:
list1 = [5, 10, 15, 20, 25, 50, 20]

if 20 in list1:
  id = list1.index(20)
  list1[id] = 200

print (list1)

[5, 10, 15, 200, 25, 50, 20]

9. Create a tuple of 5 colours.

In [8]:
tup = ('blue', 'violet', 'yellow', 'gray', 'black')
tup

('blue', 'violet', 'yellow', 'gray', 'black')

10. Unpack the following tuple into 4 variables-- aTuple = (10, 20, 30, 40)

In [9]:
a, b, c, d = (10, 20, 30, 40)

print (a)
print (b)
print (c)
print (d)

10
20
30
40